@import 'tailwindcss';

@layer utilities {
  .text-primary {
    color: #267a6aff;
  }
  

  .hover\:text-primary:hover {
    color: #267a6aff;
  }

  .bg-primary {
    background-color: #267a6aff;
  }

  .bg-secondary {
    background-color: #025b46ff;
  }

  .bg-dark {
    background-color: #393a3d;
  }

  .bg-mid {
    background-color: #54555aff;
  }

  .bg-light {
    background-color: #e5e7efff;
  }

  .hover\:bg-primary-dark:hover {
    background-color: #025b46ff;
  }
}